<footer class="bg-secondary text-white py-6">
  <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4">
    <!-- Logo and Copyright -->
    <div class="flex items-center gap-4">
      <img
        src="../../../assets/resources/logo_oficial.svg"
        alt="Sazón del Bueno"
        class="w-24 cursor-pointer"
      />
      <p class="text-sm text-gray-400">&copy; {{ currentYear }} Sazón del Bueno.</p>
    </div>

    <!-- Social Media Icons -->
    <div class="flex gap-4 items-center">
      <a href="#" class="hover:text-primary transition-colors">
        <ng-icon name="bootstrapWhatsapp" size="24px"></ng-icon>
      </a>
      <a href="#" class="hover:text-primary transition-colors">
        <ng-icon name="bootstrapFacebook" size="24px"></ng-icon>
      </a>
      <a
        href="#"
        class="hover:text-primary transition-colors"
      >
        <ng-icon name="bootstrapInstagram" size="24px"></ng-icon>
      </a>
    </div>
  </div>
</footer>

